.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: calc(100vh - 5rem);
    margin-bottom: 5rem;
    .imagen{
        width: 70%;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .precio{
        
        height: 2rem;
        display: grid;
        place-items: center;
        text-align: center;
    }

}

.max_content{
    max-width: 80%;
    text-align: justify;
}

.button {
    background-color: #ffcc00; /* Amarillo McDonald's */
    color: #bf0a30; /* Rojo McDonald's */
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
  }
  
  .button:hover {
    background-color: #ff9900; /* Amarillo m치s oscuro para hover */
    transform: scale(1.05); /* Efecto de ampliaci칩n */
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
  }
  
  .button:active {
    transform: scale(0.95); /* Efecto al presionar */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }
  .button:disabled {
    background-color: #f1f1f1; /* Color gris claro para el fondo */
    color: #d1d1d1; /* Gris para el texto */
    cursor: not-allowed; /* Cursor de no permitido */
    box-shadow: none; /* Eliminar la sombra del bot칩n */
    transform: none; /* Sin animaci칩n al presionar */
}

  