.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  
  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .submitButton {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .cancelButton {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
.addCategory {
    background-color: #f0f0f0;
    color: #666;
    text-align: center;
    cursor: pointer;
    border: 2px dashed #ccc;
    border-radius: 1rem;
    transition: all 0.3s ease;
  }
  
  .addCategory:hover {
    background-color: #e0e0e0;
    color: #333;
  }
  
  .addCategory .imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  }
  
.filterContainer{
    border-radius: 6px;
    border: 1px solid #e1e1e1;
    height: fit-content;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    overflow-x: scroll;
    gap: 2rem;
    .elem{
        height: 10rem;
        width: 9rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        padding: .5rem;

        .imgContainer{
            display: flex;
            align-items: center;
            width: 7rem;
            img{
                max-height: 6rem;
                width: 100%;
            }
        }
        
        span{
            display: flex;
            text-align: center;
            color: black;
            font-size: .9rem;
        }
    }
    .selected{
        border: 2px solid #FFBC02;
        font-weight: 700;
        pointer-events: none;
    }
}