.addCategory {
    background-color: #f0f0f0;
    color: #666;
    text-align: center;
    cursor: pointer;
    border: 2px dashed #ccc;
    border-radius: 1rem;
    transition: all 0.3s ease;
  }
  
  .addCategory:hover {
    background-color: #e0e0e0;
    color: #333;
  }
  
  .addCategory .imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  }
  
.filterContainer{
    border-radius: 6px;
    border: 1px solid #e1e1e1;
    height: fit-content;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    overflow-x: scroll;
    gap: 2rem;
    .elem{
        height: 10rem;
        width: 9rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        padding: .5rem;

        .imgContainer{
            display: flex;
            align-items: center;
            width: 7rem;
            img{
                max-height: 6rem;
                width: 100%;
            }
        }
        
        span{
            display: flex;
            text-align: center;
            color: black;
            font-size: .9rem;
        }
    }
    .selected{
        border: 2px solid #FFBC02;
        font-weight: 700;
        pointer-events: none;
    }
}