.footer{
	width: 100%;
	height: 27rem;
	z-index: 0;
	.marco{
		width: 100%;
		height: 11.1rem;
		background-color: #FFBC0D;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		z-index: 2;
		.img{
			height: 4rem;
			width: 100%;
			display: flex;
			align-items: center;
			padding: .6rem 1rem;
			gap: 1rem;
			img{
				height: 100%;
				width: auto;
			}
			h2{
				color: #292929;
				font-weight: 800;
			}
		}
		span{
			margin-top: 1rem;
			font-size: .85rem;
		}
		a{
			margin-top: 1rem;
			background-color: white;
			padding: .75rem 1.8rem;
			border-radius: 4px;
			font-size: .8rem;
			margin-bottom: 1rem;
			z-index: 1;
		}
		.svgContainer {
			z-index: 0;
			position: absolute;
			bottom: calc(-2rem + 2px);
			width: 100%;
			transition: transform 1s;
			transform-origin: top;
			transform: translateY(-100%);
			svg{
				z-index: 0;
				width: 100%;
				height: 2rem;
			}
		}
		.svgContainer.isAnimated {
			transform: translateY(0);
			transform: scaleY(1);
		}
	}

	.social{
		width: 100%;
		height: 5rem;
		display: grid;
		place-items: center;
		ul{
			height: 1.5rem;
			display: flex;
			list-style-type: none;
			gap: .8rem;
			li{
				display: grid;
				place-items: center;
				height: 1.6rem;
				width: 1.6rem;
				border: 1px solid rgb(185, 185, 185);
				border-radius: 50%;
				i{
					color: gray;
				}
			}	
			li:hover{
				cursor: pointer;
			}
		}
	}

	.descargas{
		width: 100%;
		height: fit-content;
		padding-bottom: 1rem;
		border-bottom: 1px solid rgb(233, 233, 233);
		ul{
			width: 100%;
			height: inherit;
			display: flex;
			list-style-type: none;
			align-items: center;
			justify-content: center;
			li{
				flex: 0 0 50%;
				display: grid;
				place-items: center;
				img{
					height: 2.3rem;
				}
			}
		}
	}
	
	.mcd_container{
		width: 100%;
		height: 5.5rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		.referencias{
			width: 75%;
			display: grid;
			place-items: center;
			padding: 1rem;
			ul{
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				justify-content: center;
				list-style-type: none;
				width: 100%;
				height: fit-content;
				li{
					width: fit-content;
					height: 1.5rem;
					padding: 0 .5rem;
					display: grid;
					place-items: center;
					color: gray;
					font-size: .64rem;
				}
			}
		}

		.marca{
			height: .8rem;
			width: fit-content;
			display: flex;
			gap: .5rem;
			img{
				height: 100%;
				width: auto;
			}
			span{
				font-size: .64rem;
				color: gray;
			}
		}
	}
}