.main{
    height: 100vh;
    padding: 1rem;
    
    a{
        padding-left: 2rem;
        color: black;
        display: flex;
        gap: 1rem;
        padding: 1rem;
        align-items: center;
        border: 1px solid black;
        border-radius: 1rem;
    }
}
.conteiner {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 1rem;
  }
@media (min-width: 768px) {
    .conteiner {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }