.header{
  width: 100%;
  height: 3rem;
  background-color: white;
  padding: .7rem;
  display: flex;
  justify-content: space-between;
  position: fixed;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
  z-index: 1;
  img{
    height: 100%;
    width: auto;
  }
  .btn_menu{
    display: grid;
    place-items: center;
    color: gray;
    font-size: 1.1rem;
    padding: 0 .3rem;
  }
  .btn_menu:hover{
    cursor: pointer;
  }
}

.aside{
  width: 100%;
  height: 27rem;
  background-color: white;
  position: fixed;
  z-index: 1;
  img{
    position: absolute;
    top: .7rem;
    left: calc(50% - 14px);
    height: 1.5rem;
    width: auto;
  }
  .btn_close{
    position: absolute;
    right: .9rem;
    top: .7rem;
    color: gray;
    i{
      font-size: 1.5rem;
    }
  }
}